body{
  background-color: grey;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 1fr;
  margin: 0;
  grid-gap: 15px;
}


.sidenav {
  width: 20vw;
  height: 100vh;
  position: fixed;
  background-color: #394263;
}

.main {
  grid-column-start: 2;
  background-color: orange;
  /* overflow-y: auto; */
  height: 100%;
}
