<!DOCTYPE html>
<html>

  {% load static %}
  {% load leaflet_tags %}
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <title>catitat.dev</title>
    <style type="text/css">
      #gis {
        width: 80%; 
        height: 774px;
        margin-left: 10%;
        border: 5px solid;
      }
    </style>
    <script type="text/javascript" src="{% static 'leaflet-ajax/dist/leaflet.ajax.js' %}"></script>
    
  </head>
  <body>
    <h1>Select the states that you want data for</h1>
    <h3>¡geodjango!</h3>
    <br>
    <script type='text/javascript'>
      function our_layers(map, options) {
        var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
          attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          subdomains: 'abcd',
          minZoom: 1,
          maxZoom: 16,
          ext: 'jpg'
        }).addTo(map);

        function polystyle(feature) {
        return {
            fillColor: 'white',
            weight: 2.47,
            opacity: .7,
            color: 'red',  //Outline color
            fillOpacity: 0.47
            };
        }


        var outline = new L.GeoJSON.AJAX("{% url 'state_data' %}", {style: polystyle});
        // console.log(outline);   

        outline.addTo(map);
        map.fitBounds(outline.getBounds());

      }
    </script>
    {% leaflet_map "gis" callback="window.our_layers" %}
  </body>
</html>